@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


* {
    font-family: 'Radio Canada', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #353A8F;
    color: white;
    padding: 5px 30px;
    z-index: 10;
}

header h2 {
    filter: drop-shadow(0 0 0.4em rgba(0, 0, 0, 0.911));
    text-align: left;
    font-family: 'Square Peg', cursive;
    font-size: 2.7em;
    letter-spacing: 5px;
}

.iconHeader {
    color: #ededed;
    font-size: 30px;
}

/* welcome the page */

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 30px;
}

.apresentWebSite {
    color: #2e2e31;
    max-width: 550px;
    margin: 50px auto 40px auto;
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
}

.iconActive {
    display: block;
    margin: 10px;
    color: #051937;
}


/* conteiner principal */ 

.conteiner_TodDoList {
    max-width: 800px;
    margin: 2% auto 10% auto;
}

#form_list {
    display: block;
    align-items: center;
    background-color: #2e2e31;
    border-radius: 4px;
    box-shadow: 4px 3px 4px #00000092;
    padding: 20px 10px;
}

#localAddList input {
    background: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #0000003e;
    font-size: 20px;
    width: 96%;
    padding: 5px;
    margin: 4px 10px;
    transition: all .7s;
}


#buttonAddList {
    background-color: #353A8F;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    width: 18%;
    margin-left: 10px;
    padding: 8px 5px;
    transition: all .7s;
}

#buttonAddList:hover {
    transform: translate(0.1em, -0.1em);   
}

#list_Text {
    outline: none;
    font-size: 17px;
    border-radius: 4px;
    min-height: 60px;
    width: 96%;
    padding: 5px;
    margin: 0 0 10px 10px ;
    transition: all .7s;
}

/* área de resposta */

#areaAnswer {
    display: none;
    background-color: #2e2e31;
    border-radius: 4px;
    box-shadow: 4px 3px 4px #00000092;
    padding: 20px;
    margin: 20px 0 ;
}

#areaAnswer p {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
}

.btnsOptions{
    color: white;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    padding: 2px;
    margin: 0 6px 10px 0;
    transition: 0.5s;
}

.btnsOptions:hover {
    transform: translateY(-0.3em);
}



/* html do js create */

#btnAlert {
    cursor: pointer;
    font-size: 20px ;
    border: none;
    color: rgba(255, 0, 0, 0.719);

}

.headerAnswer {
    display: flex;
    justify-content: space-between;
}

#titleCreate {
    background-color: #ffffff00;
    border: none;
    width: 96%;
    padding: 5px;
    font-weight: bold;
    font-size: 27px;
    display: block;
}

.dateAndHours {
    color: #6208e9;
    font-size: 15px;
}

.textParagrafo {
    background-color: #ffffff00;
    border: none;
    font-size: 17px;
    width: 96%;
    padding: 5px;
}

@media screen and (max-width: 900px) {
    .conteiner_TodDoList {
        margin: auto 20px ;
    }
    
    

    #buttonAddList {
        width: 100px;
        display: block;
        margin: auto;
    }

    #form_list {
        display: block;
        padding: 20px 10px;
    }

    .iconAddList {
        display: none;
    }
    
}

@media screen and (max-width: 380px) {
    .apresentWebSite {
        font-size: 30px;
    }
}